@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as*;

.item-form {
    display: flex;
    flex-direction:column;

    &__section {
        display: flex;
        flex-direction:column;
    }

    &__label {
        font-size: .875rem;
        font-weight: 600;

        &--radio {
            margin-bottom: .5rem;
            flex-basis: 100%;
        }
    }

    &__input {
        font-size: .875rem;
        border-radius: 1.25rem;
        border: .0625rem solid $color-outlines-dividers;
        padding: .5rem;
        margin-top: .25rem;
        margin-bottom: 1rem;

        &:focus {
            outline: .0625rem solid $color-interactive-elements;
        }
    }

    &__radio-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: .5rem;
    }

    &__radio-button {
        margin: 0rem;
        margin-right: .25rem;
        width: .875rem;
        height: .875rem;

    }

    &__radio-wrapper {
        display: flex;
        align-items: center;
    }

    &__CTA-container {
        display: flex;
        align-items: center;
        background-color: $color-background-primary;
    }

    &__button {
        flex-grow: 1;
        margin-left: 1rem;
        font-size: .8125rem;
        line-height: 1.25rem;
        border-radius: 1.25rem;
        border: none;
        color: $color-global-white;
        background-color: $color-interactive-elements;
        font-weight: 600;
        padding: .5rem 1rem;
    }

    &__button-secondary {
        flex-grow: 1;
        font-size: .8125rem;
        line-height: 1.25rem;
        border-radius: 1.25rem;
        border: .0625rem solid $color-outlines-dividers;
        color: $color-outlines-dividers;
        background-color: $color-background-primary;
        font-weight: 600;
        padding: .5rem 1rem;
    }
}