@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as*;

.item-form {
    display: flex;
    flex-direction:column;

    &__section {
        display: flex;
        flex-direction:column;
    }

    &__label {
        font-size: .875rem;
        font-weight: 600;

        &--radio {
            margin-bottom: .5rem;
        }
    }

    &__input {
        font-size: .875rem;
        border-radius: 1.25rem;
        border: .0625rem solid $color-outlines-dividers;
        padding: .5rem;
        margin-top: .25rem;
        margin-bottom: 1rem;

        &:focus {
            outline: .0625rem solid $color-interactive-elements;
        }
    }

    &__radio-button {
        margin: 0rem;
        margin-right: .25rem;
        width: .875rem;
        height: .875rem;

    }

    &__radio-wrapper {
        display: flex;
        align-items: center;
    }
}