@use "./variables" as *;
@use "./typography" as *;

// media breakpoints

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin font-bold {
  font-family: "Titillium Web";

  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@mixin font-regular {
  font-family: "Titillium Web";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
