@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.inventory-modal {
  position: absolute;
  top: 10rem;
  left: 5rem;
  right: 5rem;
  bottom: 45rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  background-color: #ffffff;
}

.inventory-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 24, 44, 0.5);
}
.inventory-list {
  margin: 0rem 1rem;
}

.inventory-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1rem;
  background-color: $color-global-white;
  border-bottom: 1px solid $color-outlines-dividers;
}

.inventory-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;

  width: 100%;

  @include tablet {
    justify-content: space-around;
    flex-wrap: none;
    width: 10%;
  }

  &__delete {
  }

  &__edit {
  }
}

.inventory-column {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
  width: 28%;

  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    width: 40%;

    margin-right: 0rem;
  }

  &__item-container {
    display: flex;

    align-items: center;
    margin-bottom: 1.4rem;
  }

  &__item {
    @include font-regular;
    color: $color-text-secondary;

    margin-bottom: 1rem;
    &--main {
      @include font-bold;
      color: $color-interactive-elements;
      text-decoration: none;
    }

    &--title {
      @include font-bold;
      color: $color-text-primary;
      margin-bottom: 0.25rem;

      @include tablet {
        display: none;
      }
    }

    &--in-stock {
      @include font-bold;
      text-transform: uppercase;
      text-align: center;
      align-items: center;
      color: $color-in-stock;
      border-radius: 20px;
      background-color: rgba(21, 132, 99, 0.17);
      width: 5rem;
      padding: 0.25rem 0.15rem;
      margin-bottom: 1rem;
    }

    &--out-of-stock {
      @include font-bold;
      text-transform: uppercase;
      text-align: center;
      align-items: center;
      color: $color-out-of-stock;
      border-radius: 20px;
      background-color: rgba(201, 69, 21, 0.07);
      width: 8rem;
      padding: 0.25rem 0.15rem;
      margin-bottom: 1rem;
    }
  }
}
