@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.warehouse-list {
  margin: 0rem 1rem;
  border-bottom: .0625rem solid $color-outlines-dividers;
}

.warehouse-list {
  margin-top: 1rem;

  &__container {
    display: flex;
    justify-content: flex-start;
    background-color: $color-global-white;

    @include tablet {
      flex-direction: row;
      flex-grow: 1;
    }
  }
}

.warehouse-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0rem;
  flex-basis: 100%;

  @include tablet {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 0;
  }
}

.warehouse-column {
  &__main-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      flex-grow: 1;
    }
  }

  &__item-container {
    display: flex;
    margin-bottom: .25rem;

    @include tablet {
      align-items: center;
    }
  }

  &--secondary {
    margin-left: 1rem;

    @include tablet {
      display: flex;
      flex-grow: 1;
    }
  }

  &__contact-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-grow: 1;
    }
  }

  &__title {
    @include font-bold;
    font-size: .6875rem;
    text-transform: uppercase;
    color: $color-text-secondary;
    margin-bottom: .25rem;

    @include tablet {
      display: none;
    }
  }

  &__text {
    @include font-regular;
    color: $color-text-primary;
    font-size: .8125rem;
    margin-top: 0rem;

    @include tablet {
    }

    &-link {
      text-decoration: none;
    }

    &--link {
      margin:0;
      font-weight: 600;
      color: $color-interactive-elements;
    }
  }
  
  

}
