@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
    display: flex;
    border-bottom: .0625rem solid $color-outlines-dividers;

    &__icon {
        margin-right: .25rem;
    }
}